<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-inner">
          <h2 class="footer-title">{{site.title}}</h2>
          <ul>
            <a href="https://api.whatsapp.com/send?phone=971552156753" style="display: inline-block; padding:16px; border-radius: 8px; background-color: #25D366; color: #fff; text-decoration: none; font-family: sans-serif; font-size: 16px;">Contact us on WhatsApp</a>
            {% assign footermenu = site.data.menus.footer | sort: 'weight'  %}
            {% for item in footermenu %}
            <li class="{% if item.url == page.url %}active{% endif %}">
              <a href="{{ item.url | relative_url }}">{{ item.name }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
